<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <my-cmp></my-cmp>
        <hr>
        <my-cmp></my-cmp>
    </div>

    <script>
        var cmp = {
            data: function () {
                return {
                    status: 'Critical'
                }
            },
            template: '<p>Server Status: {{ status }} </p>'
        };

        new Vue({
            el: '#app',
            components: {
                'my-cmp': cmp
            }
        });
    </script>
</body>
</html>