<template>
    <div class="container">
        <form v-if="!submitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <app-full-name v-model="userData.fullName"></app-full-name>
                    <!-- Mail -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" v-model="userData.email">
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" v-model="userData.password">
                    </div>
                    <!-- Store Data? Yes/No -->
                    <div class="form-group">
                        <label for="options">Store Data?</label>
                        <input type="radio" value="Yes" id="options" v-model="userData.option">Yes
                        <input type="radio" value="No" v-model="option">No
                    </div>


                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" @click.prevent="submit">Submit</button>
                    </div>

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <hr>
        <div v-if="submitted" class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ userData.fullName }}</p>
                        <p>Mail: {{ userData.email }}</p>
                        <p>Password: {{ userData.password }}</p>
                        <p>Store in Database?: {{ userData.option }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from './FullName.vue';

    export default {
        data() {
            return {
                userData: {
                    fullName: '',
                    email: '',
                    password: '',
                    option: 'Male'
                },
                submitted: false
            }
        },
        methods: {
            submit() {
                this.submitted = true;
            }
        },
        components: {
            AppFullName: FullName
        }
    }
</script>

<style>
</style>
