<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="./styles.css">

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="divClasses"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[someClasses, {blue: effect}]">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" @keydown.enter="addClass">
    <div :class="currentClass"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" @keydown.enter="addClass">
    <input type="text" @keydown.enter="effect = $event.target.value">
    <div :class="[currentClass, {red: effect === 'true', blue: effect === 'false'}]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" @keydown.enter="color = $event.target.value">
    <div :class="someClasses" :style="divStyles"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div :style="styleProgressBar"></div>
  </div>
</div>

<script>
  new Vue({
    el: '#exercise',
    data: {
      effect: false,
      interval: null,
      someClasses: 'container',
      currentClass: '',
      color: '',
      progress: 0
    },
    computed: {
      divClasses: function () {
        return {
          shrink: this.effect,
          highlight: !this.effect
        };
      },
      divStyles: function () {
        return {
          backgroundColor : this.color
        };
      },
      // progress var
      styleProgressBar: function () {
        return {
          height: '50px',
          backgroundColor: 'green',
          width: this.progress + 'px'
        };
      }
    },
    methods: {
      startEffect: function () {
        // starting effect
        setInterval(() => {
          this.effect = !this.effect; 
        }, 2000);
      },
      addClass: function (event) {
        this.currentClass += event.target.value + ' ';
        event.target.value = '';
      },
      // progress var
      startProgress: function () {
        var interval = setInterval(() => {
          this.progress += 10;
          if (this.progress > 200) { clearInterval(interval); }
        }, 500);
      }
    }
  });
</script>
