<script src="../vue.js"></script>

<div id="exercise">
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ myAgeMultiplied(3) }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ ramdomNumber() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src="image" style="width:100px;height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input v-bind:value="name" type="text">
    </div>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            name: 'Abel Mescua',
            age: 25,
            image: 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.elao.com%2Fimages%2Fposts%2Fthumbnails%2Fvuejs.jpg&f=1',
        },
        methods: {
            myAgeMultiplied: function (times) {
                return this.age * times;
            },
            ramdomNumber: function () {
                return (Math.random() * 1) + 0;
            }
        }
    });
</script>