#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.blue {
  background-color: blue;
}

.container {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
}