<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <span v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }}), </span>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10">{{ n }}</span>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookides'],
                persons: [
                    { name: 'Max', age: 27, color: 'red' },
                    { name: 'Anna', age: 'unknown', color: 'blue' }
                ]
            },
            methods: {

            }
        });
    </script>
</body>
</html>