<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <p v-if="show">I am a paragraph <span>Span inside also</span></p>
        <p v-else>I am the second option</p>
        <template v-if="show">
            <h1>Header</h1>
            <p>Inside a template</p>
        </template>
        <p>Do you also see me?</p>
        <button @click="show = !show">Switch</button>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            }
        });
    </script>
</body>
</html>