<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Vue App</title>
</head>
<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase Second</button>
        <p>Counter: {{ counter }} || {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                counter: 0,
                secondCounter: 0
            },
            computed: {
                output: function () {
                    return this.counter > 5 ? 'Greater 5': 'Smaller 5';
                }
            },
            watch: {
                counter: function (value) {
                    var vm = this;
                    console.log('watching', value);
                }
            },
            methods: {
                result: function() {
                    console.log('Result');
                    return this.counter > 5 ? 'Greater 5': 'Smaller 5';
                }
            }
        });
    </script>
</body>
</html>