<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="../vue.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <button v-on:click="increase(3, $event)">Click me</button>
            <p>{{ counter }}</p>
            <p v-on:mousemove="updateCoordinates">
                Coordinates: {{ x }} / {{ y }}
                - <span v-on:mousemove.stop="">DEAD SPOT</span>
            </p>

            <input type="text" v-on:keyup.enter="alertMe">

            <input type="text" v-model="name">
            <p>{{ name }}</p>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    counter: 0,
                    x: 0,
                    y: 0,
                    name: ''
                },
                methods: {
                    increase: function (step, event) {
                        this.counter += step;
                    },
                    updateCoordinates: function (event) {
                        this.x = event.clientX;
                        this.y = event.clientY;
                    },
                    alertMe: function () {
                        alert(`Alert!`);
                    }
                }
            });
        </script>
    </body>
</html>