<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Vue JS</title>
</head>
<body>
    <div id="app">
        <input type="text" v-on:input="changeTitle">
        <p>{{ title }}</p>
        <p>{{ sayHello() }} <a v-bind:href="link">Google</a></p>
        <p v-html="finishedLink"></p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                link: 'http://google.com',
                finishedLink: '<a href="http://google.com">Google</a>'
            },
            methods: {
                changeTitle: function(event) {
                    this.title = event.target.value;
                },
                sayHello: function() {
                    return this.title
                }
            }
        });
    </script>
</body>
</html>