.demo {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: grey;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}