<template>
    <!-- container -->
    <div class="container">
        <!-- row 1 -->
        <app-header></app-header>
        <hr>
        <!-- row 2 -->
        <app-servers></app-servers>
        <hr>
        <!-- row 3 -->
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './shared/Header.vue'
    import Servers from './Servers.vue'
    import Footer from './shared/Footer.vue'

    export default {
        components: {
            'app-header': Header,
            'app-servers': Servers,
            'app-footer': Footer
        }
    }
</script>
