<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="show = !show">Toggle</button>
    <p v-if="show">You either see me ...</p>
    <p v-else>...or me</p>
    <p v-show="show">You either see me ...</p>
    <p v-show="!show">...or me</p>
  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
  <ul>
    <li v-for="element in elements">
      <span v-for="(el, key, index) in element">
        {{ key }}: {{ el }} ({{ index }})
      </span>
    </li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul>
    <li v-for="(value, key) in {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}">
      {{ key }}: value
    </li>
  </ul>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <ul>
    <li v-for="(value, key) in {name: 'TESTOBJECT', datas: [1.67, 1.33, 0.98, 2.21]}">
      <!-- printing string -->
      <template v-if="Array.isArray(value)">
        <div v-for="val in value">
          <span>{{ val }}</span>
        </div>
      </template>
      
      <!-- printing array -->
      <template v-else>
          <span>{{ key }}: {{ value }}</span>
      </template>
    </li>
  </ul>
</div>

<script>
  new Vue({
    el: '#exercise',
    data: {
      show: true,
      elements: [
        { name: 'Abel', age: 25, religion: 'Buddhism'},
        { name: 'Max', age: 30, religion: 'Chirstian'},
        { name: 'Janlee', age: 27, religion: 'Hinduism'}
      ]
    }
  });
</script>