<template>
    <div>
        <h2>New</h2>
        <button @click="counter++">Increase!</button>
        <p>{{ counter }}</p>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                counter: 0
            }
        },
        // destroyed life cycle
        destroyed() {
            console.log('New destroyed!');
        },
        deactivated() {
            console.log('New deactivated!');
        },
        activated() {
            console.log('New activated!');
        }
    }
</script>

<style>

</style>
