<template>
    <div>
        <div class="title">
            <slot name="title"></slot>
        </div>
        <hr>
        <div>
            <slot name="description"></slot>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    div {
        border: 1px solid #ccc;
        box-shadow: 1px 1px 2px black;
        padding: 30px;
        margin: auto;
    }

    h2 {
        color: red;
    }

    .title {

    }
</style>
