<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button @click="selectedComponent = 'app-blue'" class="btn btn-primary">Load Blue Template</button>
                <button @click="selectedComponent = 'app-green'" class="btn btn-success">Load Green Template</button>
                <button @click="selectedComponent = 'app-red'" class="btn btn-danger">Load Red Template</button>
                <hr>
                <component :is="selectedComponent"></component>
                <app-blue>
                    <p slot="title">Paragraph 1</p>
                    <p slot="description">Paragraph 2</p>
                </app-blue>

                <app-green>
                    <h2 slot="title">Title of green component</h2>
                    <h2 slot="title">Title of green component</h2>
                    <p slot="description">Description of the green component</p>
                </app-green>
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data: function () {
            return {
                selectedComponent: 'app-blue'
            }
        },
        components: {
            'app-blue': Blue,
            'app-green': Green,
            'app-red': Red
        }
    }
</script>

<style>
</style>
