<template>
    <div class="container">
        <app-amount :progress="progress" :limit="limit"></app-amount>

        <app-quote></app-quote>

        <app-quotes 
            :quotes="quotes" 
            :feedback="feedback" 
            @quoteDeleted="deleteQuote($event)"
        ></app-quotes>

        <app-info></app-info>
    </div>
</template>

<script>
    import Amount from './components/Amount.vue';
    import Quote from './components/Quote.vue';
    import Quotes from './components/Quotes.vue';
    import Info from './components/Info.vue';
    // eventBus
    import { eventBus } from './main.js';
import { setTimeout } from 'timers';

    export default {
        data: function () {
            return {
                // limit = quotes.length * 10
                quotes: [],
                limit: 10,
                progress: 0,
                feedback: false
            };
        },
        components: {
            appAmount: Amount,
            appQuote: Quote,
            appQuotes: Quotes,
            appInfo: Info
        },
        created() {
            eventBus.$on('quoteInserted', (quote) => {
                if (this.progress < this.limit) {
                    this.quotes.push(quote);
                    this.progress = this.quotes.length;
                // If we passed the limit, we send feedback
                } else {
                    this.feedback = true;
                    setTimeout(() => {
                        this.feedback = false;
                    }, 3000);
                }
            });
        },
        methods: {
            deleteQuote(index) {
                this.quotes.splice(index, 1);
                this.progress = this.quotes.length;
            }
        }
    }
</script>

<style scoped>

</style>
