<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <!-- main panel -->
    <section class="row">
        <!-- player panel -->
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                    style="background-color: green; margin: 0; color: white;"
                    :style="playerHealth"
                    >
                    {{ game.playerHP }}
                </div>
            </div>
        </div>
        <!-- monster panel -->
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                    style="background-color: green; margin: 0; color: white;"
                    :style="monsterHealth"
                    >
                    {{ game.monsterHP }}
                </div>
            </div>
        </div>
    </section>
    <!-- new game button -->
    <section class="row controls">
        <div class="small-12 columns">
            <button @click="newGame" id="start-game">START NEW GAME</button>
        </div>
    </section>
    <!-- controls of the game -->
    <section v-if="game.status" class="row controls">
        <div class="small-12 columns">
            <button @click="attack" id="attack">ATTACK</button>
            <button @click="specialAttack" id="special-attack">SPECIAL ATTACK</button>
            <button @click="healing" id="heal">HEAL</button>
            <button @click="giveUp" id="give-up">GIVE UP</button>
        </div>
    </section>
    <!-- damage log -->
    <section v-if="game.status" class="row log">
        <div class="small-12 columns">
            <ul>
                <template v-for="log of game.damageLog">
                    <li class="player-turn">PLAYER HITS MONSTER FOR {{ log.player }}</li>
                    <li class="monster-turn">MONSTER HITS PLAYER FOR {{ log.monster }}</li>
                </template>

                <template v-for="log of game.healthLog">
                        <li class="player-turn">PLAYER HEALS HIMSELF FOR {{ log.player }}</li>
                    </template>
            </ul>
        </div>
    </section>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            game: {
                status: false,
                playerHP: 100,
                monsterHP: 100,
                damageLog: [],
                healthLog: []
            }
        },
        computed: {
            playerHealth: function () {
                if (this.game.playerHP <= 0 && this.game.status) { alert('You loose!') }
                return {
                    width: this.game.playerHP + '%'
                }
            },
            monsterHealth: function () {
                if (this.game.monsterHP <= 0 && this.game.status) { alert('You won!'); }
                return {
                    width: this.game.monsterHP + '%'
                }
            }
        },
        methods: {
            // to start a new game
            newGame: function () {
                const vm = this;
                vm.game.status = true;
                // healing vars must be 100%
                vm.game.playerHP = 100;
                vm.game.monsterHP = 100;
                vm.game.damageLog = [];
                vm.game.healthLog = [];
            },
            // to quit the game
            giveUp: function () {
                const vm = this;
                vm.game.status = false;
                vm.game.playerHP = 0;
                vm.game.monsterHP = 0;
                vm.game.damageLog = [];
                vm.game.healthLog = [];
            },
            // attack from both sides
            attack: function () {
                const vm = this;
                const playerDamage = Math.floor((Math.random() * 10) + 1);
                const monsterDamage = Math.floor((Math.random() * 10) + 1);
                // damaging
                vm.game.playerHP -= playerDamage;
                vm.game.monsterHP -= monsterDamage;
                // adding to the log
                vm.game.damageLog.push({ player: playerDamage, monster: monsterDamage });
            },
            specialAttack: function () {
                const vm = this;
                const playerDamage = Math.floor((Math.random() * 20) + 10);
                const monsterDamage = Math.floor((Math.random() * 20) + 10);
                // damaging
                vm.game.playerHP -= playerDamage;
                vm.game.monsterHP -= monsterDamage;
                // adding to the log
                vm.game.damageLog.push({ player: playerDamage, monster: monsterDamage });
            },
            healing: function () {
                const vm = this;
                if (vm.game.playerHP < 100) {
                    const health = Math.floor((Math.random() * 10) + 1);
                    vm.game.playerHP += health;
                    vm.game.healthLog.push({ player: health });
                }
            }
        }
    });
</script>
</body>
</html>