<template>
    <div class="row">
            <div class="col-xs-12">
                <header>
                    <h1>Server Status: {{ status }}</h1>
                </header>
            </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                status: 'Critical'
            }
        },
        methods: {
            changeStatus() {
                this.status = 'Normal';
            }
        }
    }
</script>

<style>

</style>
