<template>
     <li 
            class="list-group-item"
            style="cursor: pointer"
            @click="serverSelected">
        Server # {{ server.id }} {{ server.status }}
    </li>
</template>

<script>
    import { serverBus } from '../../main.js';
    
    export default {
        props: ['server'],
        methods: {
            serverSelected: function () {
                serverBus.selectServer(this.server);
            }
        }
    };
</script>

<style>

</style>
