<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="!server">Server Details are currently not updated</p>
        <div v-else>
            Server # {{ server.id }} {{ server.status }}
            <button class="btn btn-primary" @click="changeServerStatus">Change Server Status</button>
        </div>
    </div>

</template>

<script>
    import { serverBus } from '../../main';

    export default {
        data: function () {
            return {
                server: null
            }
        },
        // listener of $emit events
        created() {
            serverBus.$on('serverSelected', (server) => {
                this.server = server;
            });
        },
        methods: {
            changeServerStatus() {
                this.server.status = 'Normal';
            }
        }
    }
</script>

<style>

</style>
