<template>
    <div class="row">
        <h2>Quotes Added</h2>
        <!-- progress bar -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
            :style="{ width: (progress / limit) * 100 + '%' }">
                {{ progress }} / {{ limit }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['progress', 'limit']
    }
</script>

<style scoped>
    
</style>
