<template>
    <div class="row">
        Info: Click on Quote to delete it
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    div {
        background-color: skyblue;
        color: darkblue;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
    }
</style>
