<template>
    <div class="row parent">
        <div class="form-group" style="width: 50%; margin: 0 auto">
            <h3>Quote</h3>
            <textarea class="form-control" style="margin-bottom: 10px" v-model="quote"></textarea>
            <button class="btn btn-primary" @click="insertQuote">Add Quote</button>
        </div>
    </div>
</template>

<script>
    import { eventBus } from '../main.js';

    export default {
        data: function () {
            return {
                quote: ''
            }
        },
        methods: {
            insertQuote() {
                const vm = this;
                if (vm.quote !== '') {
                    eventBus.insertQuote(vm.quote);
                    vm.quote = '';
                }
            }
        }
    }
</script>

<style scoped>
    .parent {
        margin-bottom: 10px;
    }

</style>
