<template>
    <div class="row parent">
        <div class="alert alert-danger" v-if="feedback">You should remove some quotes!.</div>
        <div class="row">
            <div 
            class="quote"
            v-for="(quote, index) in quotes"
            :key="index"
            @click="deleteQuote(index)"
            >{{ quote }}</div>
        </div>
    </div>
</template>

<script>
    import { eventBus } from '../main.js';

    export default {
        props: ['quotes', 'feedback'],
        methods: {
            deleteQuote(index) {
                this.$emit('quoteDeleted', index);
                // eventBus.deleteQuote(index);
            }
        }
    }
</script>

<style scoped>
    .parent {
        margin-bottom: 10px;
    }

    .quote {
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 15px;
        display: inline-block;
        width: 25%;
        margin: 5px;
        font-size: 45px;
        text-align: center;
        cursor: pointer;
        font-family: 'Arizonia', cursive;
    }

    .quote:hover {
        background-color: #ffe2e2;
    }
</style>
